{{!
  moduleName=
  actionBase=
  interactionPermission=
  dmg=
  flavor=
}}
<div class="{{moduleName}}-roll-wrapper">
  {{#if (and dmg.normalRoll.evaluated (eq dmg.mode 'normal'))}}
    {{> modules/nils-automated-compendium/templates/roll/roll.hbs flavor=flavor overrideFormula=dmg.displayFormula roll=dmg.normalRoll}}
  {{else if (and dmg.criticalRoll.evaluated (eq dmg.mode 'critical'))}}
    {{> modules/nils-automated-compendium/templates/roll/roll.hbs flavor=flavor overrideFormula=dmg.displayFormula roll=dmg.criticalRoll}}
  {{else}}
    <button data-{{moduleName}}-action="{{actionBase}}" class="{{moduleName}}-item-damage" {{#if interactionPermission}}{{#nacMisPerm interactionPermission}}disabled{{/nacMisPerm}}{{/if}}>
      {{#if (eq dmg.mode 'critical')}}
        {{localize "DND5E.Critical"}}
      {{else}}
        {{#if dmg.label}}
          {{dmg.label}}
        {{else}}
          {{localize "DND5E.Damage"}}
        {{/if}}
      {{/if}}
    </button>
  {{/if}}
  {{#if interactionPermission}}
  {{#nacPerm interactionPermission}}
    <button data-{{moduleName}}-action="{{actionBase}}-mode-minus" class="{{moduleName}}-mode-minus" {{#if (eq dmg.mode 'normal')}}disabled{{/if}}><i class="fas fa-minus"></i></button>
    <button data-{{moduleName}}-action="{{actionBase}}-mode-plus" class="{{moduleName}}-mode-plus" {{#if (eq dmg.mode 'critical')}}disabled{{/if}}><i class="fas fa-plus"></i></button>
  {{/nacPerm}}
  {{/if}}
</div>