<div class="{{@root.staticValues.moduleName}}-item-card"
    data-actor-uuid="{{data.actor.uuid}}"
    {{#if token}}data-token-uuid="{{data.token.uuid}}"{{/if}}
  >

  {{#each data.items as |item itemIndex|}}
    <div>
      <div class="{{@root.staticValues.moduleName}}-header">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="{{@root.staticValues.moduleName}}-item-name" data-{{@root.staticValues.moduleName}}-action="refresh">{{item.name}}</h3>
      </div>

      <div class="{{@root.staticValues.moduleName}}-section">
        {{#if item.description}}
          {{{item.description}}}
        {{/if}}
        {{#if item.materials}}
          <p><strong>{{ localize "DND5E.RequiredMaterials" }}.</strong> {{item.materials}}</p>
        {{/if}}
      </div>

      <div class="{{@root.staticValues.moduleName}}-section">
        <div style="display: flex;">
          {{#if item.attack}}
            <div class="{{@root.staticValues.moduleName}}-attack">
              <div class="{{@root.staticValues.moduleName}}-flavor">
                {{#if item.attack.evaluatedRoll}}{{item.attack.mode}}{{else}}&nbsp;{{/if}}
              </div>
              <div class="{{@root.staticValues.moduleName}}-roll-wrapper">
                {{#if item.attack.evaluatedRoll}}
                  <div>
                    {{> modules/nils-automated-compendium/templates/roll/roll.hbs roll=item.attack.evaluatedRoll}}
                  </div>
                {{else}}
                  <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-attack" class="{{@root.staticValues.moduleName}}-item-attack" data-{{@root.staticValues.moduleName}}-secret="actorowneruuid:{{@root.data.actor.uuid}}">
                    {{#if (eq item.attack.mode 'normal')}}
                      {{#if item.attack.label}}{{item.attack.label}}{{else}}{{localize "DND5E.Attack"}}{{/if}}
                    {{else}}
                      {{item.attack.mode}}
                    {{/if}}
                  </button>
                {{/if}}
                  
                  <button data-{{@root.staticValues.moduleName}}-secret="actorowneruuid:{{@root.data.actor.uuid}}" data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-attack-mode-minus" class="{{@root.staticValues.moduleName}}-mode-minus" {{#if (eq item.attack.mode 'disadvantage')}}disabled{{/if}}><i class="fas fa-minus"></i></button>
                  <button data-{{@root.staticValues.moduleName}}-secret="actorowneruuid:{{@root.data.actor.uuid}}" data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-attack-mode-plus" class="{{@root.staticValues.moduleName}}-mode-plus" {{#if (eq item.attack.mode 'advantage')}}disabled{{/if}}><i class="fas fa-plus"></i></button>
              </div>
            </div>
          {{/if}}
          
          {{#if item.damages.[0]}}
            {{#with item.damages.[0]}}
            <div class="{{@root.staticValues.moduleName}}-first-dmg">
              <div class="{{@root.staticValues.moduleName}}-flavor">
                {{#if this.roll.evaluated}}{{this.displayDamageTypes}}{{else}}&nbsp;{{/if}}
              </div>
              
              {{> modules/nils-automated-compendium/templates/damage.hbs 
                moduleName=@root.staticValues.moduleName
                actionBase=(nacConcat "item-" itemIndex "-damage-0")
                interactionSecret=(nacConcat "actorowneruuid:" @root.data.actor.uuid)
                dmg=item.damages.[0]
              }}
            </div>
            {{/with}}
          {{/if}}
        </div>
        
        {{#each item.damages as |dmg dmgIndex|}}
          {{#if (gt dmgIndex 0)}}
            {{> modules/nils-automated-compendium/templates/damage.hbs 
              moduleName=@root.staticValues.moduleName
              actionBase=(nacConcat "item-" itemIndex "-damage-" dmgIndex)
              interactionSecret=(nacConcat "actorowneruuid:" @root.data.actor.uuid)
              dmg=dmg
              flavor=dmg.displayDamageTypes
            }}
          {{/if}}
        {{/each}}
        
        {{#if item.check}}
          <table>
            <thead>
                <th style="width: 30px;">{{! img}}</th>
                <th>Name</th>
                <th>DC: {{item.check.dc}}</th>
            </thead>
            <tbody>
              {{#each item.targets as |target|}}
                <tr>
                  <td>{{#if target.img}}<img src="{{target.img}}" height="20px" width="20px">{{/if}}</td>
                  <td>{{target.name}}</td>
                  <td>
                    <div class="{{@root.staticValues.moduleName}}-roll-wrapper">
                      {{#if target.check.evaluatedRoll.evaluated}}
                        <div class="{{@root.staticValues.moduleName}}-check-{{#if target.result.checkPass}}pass{{else}}fail{{/if}}">
                          {{> modules/nils-automated-compendium/templates/roll/roll.hbs roll=target.check.evaluatedRoll compact=true}}
                        </div>
                      {{else}}
                        <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-check-{{target.uuid}}" data-{{@root.staticValues.moduleName}}-secret="actorowneruuid:{{target.uuid}}">
                          {{#if (eq target.check.mode 'normal')}}
                            {{#if item.check.label}}
                              {{item.check.label}}
                            {{else if item.check.addSaveBonus}}
                              {{localize "DND5E.SavingThrow"}}
                            {{else}}
                              Ability check
                            {{/if}}
                          {{else}}
                            {{target.check.mode}}
                          {{/if}}
                        </button>
                      {{/if}}
                      <button data-{{@root.staticValues.moduleName}}-secret="actorowneruuid:{{target.uuid}}" data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-check-{{target.uuid}}-mode-minus" class="{{@root.staticValues.moduleName}}-mode-minus" {{#if (eq target.check.mode 'disadvantage')}}disabled{{/if}}><i class="fas fa-minus"></i></button>
                      <button data-{{@root.staticValues.moduleName}}-secret="actorowneruuid:{{target.uuid}}" data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-check-{{target.uuid}}-mode-plus" class="{{@root.staticValues.moduleName}}-mode-plus" {{#if (eq target.check.mode 'advantage')}}disabled{{/if}}><i class="fas fa-plus"></i></button>
                    </div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}

        {{#if item.template}}
          <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-template">{{ localize "DND5E.PlaceTemplate" }}</button>
        {{/if}}
      </div>

      <div class="{{@root.staticValues.moduleName}}-footer">
        {{#each item.properties}}
          <span>{{this}}</span>
        {{/each}}
      </div>
    </div>
  {{/each}}
  

  {{#if data.targetAggregate.length}}
    <section data-{{@root.staticValues.moduleName}}-secret="gm" class="{{@root.staticValues.moduleName}}-gm-secret">
      <table class="{{@root.staticValues.moduleName}}-targets">
        <thead>
          <tr>
            <th style="width: 30px;"></th>
            <th>Name</th>
            <th style="width: 30px; text-align: center;">HP</th>
            <th style="width: 40px; text-align: center;">Result</th>
            <th style="width: 50px;">{{! actions }}</th>
          </tr>
        </thead>
        <tbody>
          {{#each data.targetAggregate as |target|}}
            <tr {{#if target.dmg.applied}}class="{{@root.staticValues.moduleName}}-damage-applied"{{/if}}>
              <td>{{#if target.img}}<img src="{{target.img}}" height="20px" width="20px">{{/if}}</td>
              <td>{{target.name}}</td>
              <td style="text-align: center;">{{target.hpSnapshot.hp}}{{#if target.hpSnapshot.temp}}[{{target.hpSnapshot.temp}}]{{/if}}</td>
              <td style="text-align: center;">{{target.dmg.calcHp}}{{#if target.hpSnapshot.temp}}{{#if target.dmg.calcTemp}}[{{target.dmg.calcTemp}}]{{/if}}{{/if}}</td>
              <td class="{{@root.staticValues.moduleName}}-target-actions">
                <div style="display: flex;">
                  <button data-{{@root.staticValues.moduleName}}-action="apply-damage-{{target.uuid}}" class="{{@root.staticValues.moduleName}}-apply-damage"><i class="fas fa-check"></i></button>
                  <button data-{{@root.staticValues.moduleName}}-action="undo-damage-{{target.uuid}}" class="{{@root.staticValues.moduleName}}-undo-damage"><i class="fas fa-undo"></i></button>
                </div>
              </td>
            </tr>
          {{/each}}
          {{#ifCond data.targetAggregate.length '>' 1}}
            <tr {{#if @root.data.allDmgApplied}}class="{{@root.staticValues.moduleName}}-damage-applied"{{/if}}>
              <td></td>
              <td colspan="3">All</td>
              <td class="{{@root.staticValues.moduleName}}-target-actions">
                <div style="display: flex;">
                  <button data-{{@root.staticValues.moduleName}}-action="apply-damage-*" class="{{@root.staticValues.moduleName}}-apply-damage"><i class="fas fa-check"></i></button>
                  <button data-{{@root.staticValues.moduleName}}-action="undo-damage-*" class="{{@root.staticValues.moduleName}}-undo-damage"><i class="fas fa-undo"></i></button>
                </div>
              </td>
            </tr>
          {{/ifCond}}
        </tbody>
      </table>
    </section>
  {{/if}}
    
</div>
