<div class="{{@root.staticValues.moduleName}}-item-card"
    data-actor-uuid="{{data.actor.uuid}}"
    {{#if token}}data-token-uuid="{{data.token.uuid}}"{{/if}}
  >

  {{#each data.items as |item itemIndex|}}
    <div>
      <div class="{{@root.staticValues.moduleName}}-header" data-{{@root.staticValues.moduleName}}-action="toggle-collapse">
        <img src="{{item.calc$.img}}" title="{{item.calc$.name}}" width="36" height="36"/>
        <h3 class="{{@root.staticValues.moduleName}}-item-name">{{item.calc$.name}}</h3>
      </div>

      {{#unless (nacCardCollapse @root.messageId)}}
        <div class="{{@root.staticValues.moduleName}}-section">
          {{#if item.calc$.description}}
            {{{item.calc$.description}}}
          {{/if}}
          {{#if item.calc$.materials}}
            <p><strong>{{ localize "DND5E.RequiredMaterials" }}.</strong> {{item.calc$.materials}}</p>
          {{/if}}
        </div>
      {{/unless}}

      {{#if item.calc$.requiresSpellSlot}}
        {{#nacSpellLevels actorUuid=@root.data.actor.uuid minLevel=item.calc$.level}}
          <select class="form-fields" {{#unless item.calc$.canChangeLevel}}disabled{{/unless}} data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-upcastlevel">
            {{#each this}}
              {{#nacExpr this.type '===' 'spell'}}
                <option {{#nacExpr item.selectedlevel '===' this.level}}selected{{/nacExpr}} value="{{this.level}}">{{ localize "DND5E.SpellLevelSlot" level=(localize (nacConcat "DND5E.SpellLevel" this.level)) n=this.availableSlots }}</option>
              {{else}} 
                <option {{#nacExpr item.selectedlevel '===' 'pact'}}selected{{/nacExpr}} value="pact">{{ localize "DND5E.SpellLevelPact" level=this.level n=this.availableSlots }}</option>
              {{/nacExpr}}
            {{/each}}
          </select>
        {{/nacSpellLevels}}
      {{/if}}

      <div class="{{@root.staticValues.moduleName}}-section">
        <div style="display: flex; align-items: end;">
          {{#if item.attack}}
            <div class="{{@root.staticValues.moduleName}}-attack">
              <div class="{{@root.staticValues.moduleName}}-flavor">
                {{#if item.attack.calc$.evaluatedRoll}}
                  {{ localize (nacConcat "DND5E." (nacCapitalize item.attack.mode)) }}
                {{/if}}
              </div>
              <div class="{{@root.staticValues.moduleName}}-roll-wrapper">
                {{#if (eq item.attack.phase "result")}}
                  <div>
                    {{> modules/nils-automated-compendium/templates/roll/roll.hbs 
                      roll=item.attack.calc$.evaluatedRoll
                      highlightTotalOnFirstTerm=true
                      overrideMaxRoll=item.attack.calc$.critTreshold
                    }}
                  </div>
                {{else}}
                  <div class="{{@root.staticValues.moduleName}}-bonus-container">
                    <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-attack" class="{{@root.staticValues.moduleName}}-item-attack" {{#nacMisPerm (nacConcat "ActorOwnerUuid:" @root.data.actor.uuid)}}disabled{{/nacMisPerm}}>
                      {{#if (eq item.attack.mode 'normal')}}
                        {{#if item.attack.calc$.label}}{{item.attack.calc$.label}}{{else}}{{localize "DND5E.Attack"}}{{/if}}
                      {{else}}
                        {{ localize (nacConcat "DND5E." (nacCapitalize item.attack.mode)) }}
                      {{/if}}
                    </button>
                    
                    {{#if (and (eq item.attack.phase "bonus-input") (nacPerm (nacConcat "ActorOwnerUuid:" @root.data.actor.uuid)) )}}
                      <input class="{{@root.staticValues.moduleName}}-bonus" placeholder="{{localize "DND5E.Bonus"}}: {{localize 'DND5E.RollExample'}}" type="text" value="{{item.attack.userBonus}}" data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-attack-bonus" {{#nacMisPerm (nacConcat "ActorOwnerUuid:" @root.data.actor.uuid)}}disabled{{/nacMisPerm}}/>
                    {{/if}}
                  </div>
                {{/if}}
                {{#nacPerm (nacConcat "ActorOwnerUuid:" @root.data.actor.uuid)}}
                  <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-attack-mode-minus" class="{{@root.staticValues.moduleName}}-mode-minus" {{#if (eq item.attack.mode 'disadvantage')}}disabled{{/if}}><i class="fas fa-minus"></i></button>
                  <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-attack-mode-plus" class="{{@root.staticValues.moduleName}}-mode-plus" {{#if (eq item.attack.mode 'advantage')}}disabled{{/if}}><i class="fas fa-plus"></i></button>
                {{/nacPerm}}
              </div>
            </div>
          {{/if}}
          
          {{#if item.damages.[0]}}
            {{#with item.damages.[0]}}
            <div class="{{@root.staticValues.moduleName}}-first-dmg">
              {{> modules/nils-automated-compendium/templates/damage.hbs 
                moduleName=@root.staticValues.moduleName
                itemIndex=itemIndex
                dmgIndex=0
                interactionPermission=(nacConcat "ActorOwnerUuid:" @root.data.actor.uuid)
                dmg=item.damages.[0]
              }}
            </div>
            {{/with}}
          {{/if}}
        </div>
        
        {{#each item.damages as |dmg dmgIndex|}}
          {{#if (gt dmgIndex 0)}}
            {{> modules/nils-automated-compendium/templates/damage.hbs 
              moduleName=@root.staticValues.moduleName
              itemIndex=itemIndex
              dmgIndex=dmgIndex
              interactionPermission=(nacConcat "ActorOwnerUuid:" @root.data.actor.uuid)
              dmg=dmg
            }}
          {{/if}}
        {{/each}}
        
        {{#if (and item.calc$.check item.targets.length)}}
          <table>
            <thead>
              <th style="width: 30px;">{{! img}}</th>
              <th>{{localize "Name"}}</th>
              <th class="{{@root.staticValues.moduleName}}-item-check">
                {{#if item.calc$.check.skill}}
                  {{localize (nacConcat "DND5E.Skill" (nacCapitalize item.calc$.check.skill))}}
                {{else}}
                  {{localize (nacConcat "DND5E.Ability" (nacCapitalize item.calc$.check.ability))}}
                {{/if}}

                {{localize "DND5E.AbbreviationDC"}}:

                {{#nacPerm (nacConcat "ActorOwnerUuid:" @root.data.actor.uuid)}}
                  {{item.calc$.check.dc}}
                {{else}}
                  {{localize "DND5E.SaveDC" dc="?" ability=""}}
                {{/nacPerm}}
              </th>
            </thead>
            <tbody>
              {{#each item.targets as |target targetIndex|}}
                <tr class="{{@root.staticValues.moduleName}}-item-{{itemIndex}}-check-target-{{targetIndex}}">
                  <td>{{#if target.calc$.img}}<img src="{{target.calc$.img}}" height="20px" width="20px">{{/if}}</td>
                  <td>{{target.calc$.name}}</td>
                  <td>
                    <div class="{{@root.staticValues.moduleName}}-roll-wrapper" {{#nacPerm (nacConcat "ActorOwnerUuid:" target.calc$.actorUuid)}}title="{{target.check.calc$.evaluatedRoll.formula}}"{{/nacPerm}}>
                      {{#if (eq target.check.phase "result")}}
                        <div class="{{@root.staticValues.moduleName}}-check-{{#if target.result.checkPass}}pass{{else}}fail{{/if}}">
                          {{> modules/nils-automated-compendium/templates/roll/roll.hbs roll=target.check.calc$.evaluatedRoll compact=true}}
                        </div>
                      {{else}}
                        <div class="{{@root.staticValues.moduleName}}-bonus-container">
                          <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-check-{{target.uuid}}" {{#nacMisPerm (nacConcat "ActorOwnerUuid:" target.calc$.actorUuid)}}disabled{{/nacMisPerm}}>
                            {{#if (eq target.check.mode 'normal')}}
                              {{#if item.calc$.check.label}}
                                {{item.calc$.check.label}}
                              {{else if item.calc$.check.addSaveBonus}}
                                {{localize "DND5E.SavingThrow"}}
                              {{else}}
                                {{localize "DND5E.Ability"}}
                              {{/if}}
                            {{else}}
                              {{ localize (nacConcat "DND5E." (nacCapitalize target.check.mode)) }}
                            {{/if}}
                          </button>
                          
                          {{#if (and (eq target.check.phase "bonus-input") (nacPerm (nacConcat "ActorOwnerUuid:" target.calc$.actorUuid)) )}}
                            <input class="{{@root.staticValues.moduleName}}-bonus" placeholder="{{localize "DND5E.Bonus"}}: {{localize 'DND5E.RollExample'}}" type="text" value="{{target.check.userBonus}}" data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-check-{{target.uuid}}-bonus" {{#nacMisPerm (nacConcat "ActorOwnerUuid:" target.calc$.actorUuid)}}disabled{{/nacMisPerm}}/>
                          {{/if}}
                        </div>
                      {{/if}}
                      {{#nacPerm (nacConcat "ActorOwnerUuid:" target.calc$.actorUuid)}}
                        <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-check-{{target.uuid}}-mode-minus" class="{{@root.staticValues.moduleName}}-mode-minus" {{#if (eq target.check.mode 'disadvantage')}}disabled{{/if}}><i class="fas fa-minus"></i></button>
                        <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-check-{{target.uuid}}-mode-plus" class="{{@root.staticValues.moduleName}}-mode-plus" {{#if (eq target.check.mode 'advantage')}}disabled{{/if}}><i class="fas fa-plus"></i></button>
                      {{/nacPerm}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
      </div>
      
      {{#if item.calc$.targetDefinition.hasAoe}}
        <div class="{{@root.staticValues.moduleName}}-section">
          <button data-{{@root.staticValues.moduleName}}-action="item-{{itemIndex}}-template" {{#if (or (not item.calc$.canChangeTargets) (nacMisPerm (nacConcat "ActorOwnerUuid:" @root.data.actor.uuid)))}}disabled{{/if}}>
            {{localize "DND5E.PlaceTemplate"}}
          </button> 
        </div>
      {{/if}}

      <div class="{{@root.staticValues.moduleName}}-footer">
        {{#each item.calc$.properties}}
          <span>{{this}}</span>
        {{/each}}
      </div>
      
      {{! TODO should probably also be an aggregate }}
      {{#if (and item.consumeResources.length (nacPerm (nacConcat "ActorObserverUuid:" @root.data.actor.uuid)))}}
        <table class="{{@root.staticValues.moduleName}}-consume-resouces">
          <thead>
            <tr>
              <th>{{ localize "Resources" }}</th>
              <th>{{ localize "DND5E.Uses" }}</th>
              <th style="width: 50px;" {{#if item.calc$.allConsumeResourcesApplied}}class="{{@root.staticValues.moduleName}}-applied"{{/if}}>
                {{#nacExpr item.consumeResources.length '>' 1}}
                  <div style="display: flex;" title="All">
                    <button data-{{@root.staticValues.moduleName}}-action="apply-consume-resource-*-*" class="{{@root.staticValues.moduleName}}-apply"><i class="fas fa-check"></i></button>
                    <button data-{{@root.staticValues.moduleName}}-action="undo-consume-resource-*-*" class="{{@root.staticValues.moduleName}}-undo"><i class="fas fa-undo"></i></button>
                  </div>
                {{/nacExpr}}
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each item.consumeResources as |consumeResource consumeResourceIndex|}}
              <tr {{#if consumeResource.calc$.applied}}class="{{@root.staticValues.moduleName}}-applied"{{/if}}>
                <td>{{nacTranslateUsage consumeResource}}</td>
                <td>{{consumeResource.calc$.original}}-{{consumeResource.calc$.amount}}=<b {{#nacExpr (nacMath consumeResource.calc$.original '-' consumeResource.calc$.amount) '<' 0}}style="color: red;"{{/nacExpr}}><u>{{nacMath 'max(0, ' consumeResource.calc$.original '-' consumeResource.calc$.amount ')'}}</b></u></td>
                <td>
                  <button data-{{@root.staticValues.moduleName}}-action="apply-consume-resource-{{itemIndex}}-{{consumeResourceIndex}}" class="{{@root.staticValues.moduleName}}-apply"><i class="fas fa-check"></i></button>
                  <button data-{{@root.staticValues.moduleName}}-action="undo-consume-resource-{{itemIndex}}-{{consumeResourceIndex}}" class="{{@root.staticValues.moduleName}}-undo"><i class="fas fa-undo"></i></button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  {{/each}}

  {{#if data.calc$.targetAggregate.length}}
  {{#nacPerm "gm"}}
    <section class="{{@root.staticValues.moduleName}}-gm-secret">
      <table class="{{@root.staticValues.moduleName}}-targets">
        <thead>
          <tr>
            <th style="width: 30px;"></th>
            <th>{{localize "Name"}}</th>
            <th style="width: 30px; text-align: center;">{{ localize "DND5E.HP" }}</th>
            <th style="width: 50px;" {{#if @root.data.calc$.allDmgApplied}}class="{{@root.staticValues.moduleName}}-applied"{{/if}}>
              {{#nacExpr data.calc$.targetAggregate.length '>' 1}}
                <div style="display: flex;" title="All">
                  <button data-{{@root.staticValues.moduleName}}-action="apply-damage-*" class="{{@root.staticValues.moduleName}}-apply"><i class="fas fa-check"></i></button>
                  <button data-{{@root.staticValues.moduleName}}-action="undo-damage-*" class="{{@root.staticValues.moduleName}}-undo"><i class="fas fa-undo"></i></button>
                </div>
              {{/nacExpr}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each data.calc$.targetAggregate as |target|}}
            <tr {{#if target.dmg.applied}}class="{{@root.staticValues.moduleName}}-applied"{{/if}}>
              <td>{{#if target.img}}<img src="{{target.img}}" height="20px" width="20px">{{/if}}</td>
              <td> {{#if target.dmg.avoided}}<i style="color: green" class="fas fa-check"></i>{{else}}<i style="color: #d03333" class="fas fa-times-circle"></i>{{/if}} {{target.name}}</td>
              <td style="text-align: center; white-space: nowrap;">
                <span title="{{ localize "DND5E.HP" }}">{{target.hpSnapshot.hp}}</span>{{#if target.hpSnapshot.temp}}<span title="{{ localize "DND5E.Temp" }}">[{{target.hpSnapshot.temp}}]</span>{{/if}}{{#nacExpr target.dmg.calcDmg '>' 0}}-{{target.dmg.calcDmg}}{{else}}+{{nacMath '-' target.dmg.calcDmg}}{{/nacExpr}}=<b><u>{{target.dmg.calcHp}}{{#if (or target.dmg.calcTemp target.hpSnapshot.temp)}}[{{target.dmg.calcTemp}}]{{/if}}</u></b>
              </td>
              <td class="{{@root.staticValues.moduleName}}-target-actions">
                <div style="display: flex;">
                  <button data-{{@root.staticValues.moduleName}}-action="apply-damage-{{target.uuid}}" class="{{@root.staticValues.moduleName}}-apply"><i class="fas fa-check"></i></button>
                  <button data-{{@root.staticValues.moduleName}}-action="undo-damage-{{target.uuid}}" class="{{@root.staticValues.moduleName}}-undo"><i class="fas fa-undo"></i></button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </section>
  {{/nacPerm}}
  {{/if}}
    
</div>
