<div style="white-space: nowrap; width: max-content;">
  <form autocomplete="off">
    <table>
      <thead>
        <tr>
          {{#each headers as |header|}}
            <th>{{header}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each targets as |target|}}
          <tr {{@root.staticValues.moduleName}}-highlight-token="{{target.uuid}}">
            <td><img src="{{target.img}}" style="width: 28px; height: 28px; border: 0;"/></td>
            <td>{{target.name}}</td>
            {{#each target.selected as |selectedData|}}
              <td>
                <label>
                  <input type="radio" name="{{selectedData.index}}" value="{{target.uuid}}" {{@root.staticValues.moduleName}}-allow-unset {{#if selectedData.selected}}checked{{/if}}/>
                  Target {{selectedData.name}}
                </label>

              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </form>
</div>