{{!
  roll=object
  mode?='advantage' | 'normal' | 'disadvantage'
  label?=string
  showBonus?=boolean
  bonusFormula?=boolean
  overrideFormula?=string
  overrideMaxRoll?=number (example: 19 for Improved Critical)
  interactionPermission?=string
  highlightTotalOnFirstTerm?=boolean
}}
{{#*inline "user-bonus"}}
  {{#if (and showBonus (nacPerm interactionPermission)) }}
    <input class="user-bonus" placeholder="{{localize "DND5E.Bonus"}}: {{localize 'DND5E.RollExample'}}" type="text" value="{{bonusFormula}}" data-action="user-bonus" {{#nacMisPerm interactionPermission}}disabled{{/nacMisPerm}}/>
  {{/if}}
{{/inline}}

<div class="flavor">
  {{#if roll.evaluated}}
    {{ localize (nacConcat "DND5E." (nacCapitalize mode)) }}
  {{/if}}
</div>
<div class="roll-wrapper">
  {{#if roll.evaluated }}
    <nac-roll-result 
      data-roll="{{nacToJsonString roll}}"
      data-override-formula="{{overrideFormula}}"
      data-highlight-total-on-firstTerm="{{highlightTotalOnFirstTerm}}"
      {{#nacMisPerm readPermission}}data-display-type="{{readHiddenDisplayType}}"{{/nacMisPerm}}
      data-override-max-roll="{{overrideMaxRoll}}">
      {{#if showBonus }}
        <div slot="top">
          {{> user-bonus}}
        </div>
      {{/if}}
    </nac-roll-result>
  {{else}}
    <div class="bonus-container">
      <button data-action="roll" class="roll-button" {{#nacMisPerm interactionPermission}}disabled{{/nacMisPerm}}>
        {{#if label}}
          {{! if label provided, show text}}
          {{#if (eq mode 'normal')}}
            {{ localize label }}
          {{else}}
            {{ localize (nacConcat "DND5E." (nacCapitalize mode)) }}
          {{/if}}
        {{else}}
          {{! if no label provided, show icons}}
          {{#if (nacExpr mode '===' 'advantage')}}
            <svg class="advantage-icon" >
              <use class="d20" xlink:href="/modules/{{@root.moduleName}}/assets/icons/d20.svg#d20"/>
              <use class="arrow-up" xlink:href="/modules/{{@root.moduleName}}/assets/icons/arrow-up.svg#arrow-up"  width=".9em" height=".9em"></use>
            </svg>
          {{else if (nacExpr mode '===' 'disadvantage')}}
            <svg class="disadvantage-icon">
              <use class="d20" xlink:href="/modules/{{@root.moduleName}}/assets/icons/d20.svg#d20"/>
              <use class="arrow-down" xlink:href="/modules/{{@root.moduleName}}/assets/icons/arrow-up.svg#arrow-up"  width=".9em" height=".9em"></use>
            </svg>
          {{else}}
            <svg class="normal-mode-icon">
              <use class="d20" xlink:href="/modules/{{@root.moduleName}}/assets/icons/d20.svg#d20"/>
            </svg>
          {{/if}}
        {{/if}}
      </button>
      
      {{> user-bonus}}
    </div>
  {{/if}}
  {{#nacPerm interactionPermission}}
    <div class="overlay">
      <div class="left">
        <button data-action="mode-minus" class="mode-minus" {{#if (eq mode 'disadvantage')}}disabled{{/if}}><i class="fas fa-minus"></i></button>
      </div>
      <div class="middel"></div>
      <div class="right">
        <button data-action="mode-plus" class="mode-plus" {{#if (eq mode 'advantage')}}disabled{{/if}}><i class="fas fa-plus"></i></button>
      </div>
    </div>
  {{/nacPerm}}
</div>