{{!
  roll=object
  displayType='hidden' | 'total' | 'result' (default)
  overrideFormula?=string
  overrideMaxRoll?=number (example: 19 for Improved Critical)
  highlightTotalOnFirstTerm?=boolean
}}
{{#*inline "result"}}
  <div class="roll-total boxed{{#if (nacIsMaxRoll roll highlightTotalOnFirstTerm overrideMaxRoll)}} success{{/if}}{{#if (nacIsMinRoll roll)}} failure{{/if}}">{{roll.total}}</div>
  <div class="terms">
    
  {{#each roll.terms as |term|}}
    {{#if term.results}}
      <div class="term-results">
        {{#each term.results as |res|}}
          <div class="term-result die d{{term.faces}}{{#if res.success}} success{{/if}}{{#if res.failure}} failure{{/if}}{{#if res.rerolled}} rerolled{{/if}}{{#if res.exploded}} exploded{{/if}}{{#if res.discarded}} discarded{{/if}}{{#if (eq res.result term.faces)}} max{{/if}}{{#if (eq res.result 1)}} min{{/if}}">
            <span class="term-value">{{res.result}}</span>
          </div>
        {{/each}}
      </div>
      <div class="term-flavor">{{term.flavor}}</div>
      <div class="term-total">{{term.total}}</div>
    {{/if}}
  {{/each}}
  </div>
  <div class="roll-formula boxed">{{#if overrideFormula}}{{overrideFormula}}{{else}}{{roll.formula}}{{/if}}</div>
{{/inline}}

{{#*inline "total"}}
  <div class="roll-total boxed">{{roll.total}}</div>
{{/inline}}

{{#*inline "hidden"}}
  <div class="boxed">&lt;{{localize 'Hidden'}}&gt;</div>
{{/inline}}

<div class="wrapper">
  {{#nacExpr displayType '===' 'hidden'}}
    {{> hidden}}
  {{else nacExpr displayType '===' 'total'}}
    {{> total}}
  {{else}}
    {{> result}}
  {{/nacExpr}}
</div>