<div class="{{@root.moduleName}}-damage">
  <div class="{{@root.moduleName}}-flavor">
    {{#if @root.data.calc$.evaluatedRoll}}
      {{ localize (nacConcat "DND5E." (nacCapitalize @root.data.mode)) }}
    {{/if}}
  </div>
  <div class="{{@root.moduleName}}-roll-wrapper">
    
    {{#if (eq @root.data.phase "result")}}
      <div>
        {{#if (and @root.data.calc$.normalRoll.evaluated (eq @root.data.mode 'normal'))}}
          {{> modules/nils-automated-compendium/templates/roll/roll.hbs 
            overrideFormula=@root.data.displayFormula
            roll=@root.data.calc$.normalRoll
          }}
        {{else if (and @root.data.calc$.criticalRoll.evaluated (eq @root.data.mode 'critical'))}}
          {{> modules/nils-automated-compendium/templates/roll/roll.hbs
            overrideFormula=@root.data.displayFormula
            roll=@root.data.calc$.criticalRoll
          }}
        {{/if}}
      </div>
    {{else}}
      <div class="{{@root.moduleName}}-bonus-container">
        <button data-{{@root.moduleName}}-action="item-damage" class="{{@root.moduleName}}-item-damage" {{#nacMisPerm (nacConcat "ActorOwnerUuid:" @root.data.calc$.actorUuid)}}disabled{{/nacMisPerm}}>
          {{#if (eq @root.data.mode 'critical')}}
            {{localize "DND5E.Critical"}}
          {{else}}
            {{localize @root.data.calc$.label}}
          {{/if}}
        </button>
        
        {{#if (and (eq @root.data.phase "bonus-input") (nacPerm (nacConcat "ActorOwnerUuid:" @root.data.calc$.actorUuid)) )}}
          <input class="{{@root.moduleName}}-bonus" placeholder="{{localize "DND5E.Bonus"}}: {{localize 'DND5E.RollExample'}}" type="text" value="{{@root.data.userBonus}}" data-{{@root.moduleName}}-action="item-damage-bonus" {{#nacMisPerm (nacConcat "ActorOwnerUuid:" @root.data.calc$.actorUuid)}}disabled{{/nacMisPerm}}/>
        {{/if}}
      </div>
    {{/if}}
    {{#nacPerm (nacConcat "ActorOwnerUuid:" @root.data.calc$.actorUuid)}}
      <button data-{{@root.moduleName}}-action="item-damage-mode-minus" class="{{@root.moduleName}}-mode-minus" {{#if (eq @root.data.mode 'normal')}}disabled{{/if}}><i class="fas fa-minus"></i></button>
      <button data-{{@root.moduleName}}-action="item-damage-mode-plus" class="{{@root.moduleName}}-mode-plus" {{#if (eq @root.data.mode 'critical')}}disabled{{/if}}><i class="fas fa-plus"></i></button>
    {{/nacPerm}}
  </div>
</div>