<div class="{{@root.moduleName}}-damage">
  <div class="{{@root.moduleName}}-flavor">
    {{#if @root.data.calc$.roll.evaluated}}
      {{#nacPerm (nacConcat "NacReadDamageUuid:" @root.data.calc$.actorUuid)}}
        {{ localize (nacConcat "DND5E." (nacCapitalize @root.data.mode)) }}
      {{else}}
        {{! Always show "damage" when you can't see the damage details }}
        {{localize "DND5E.Damage"}}
      {{/nacPerm}}
    {{/if}}
  </div>
  <div class="{{@root.moduleName}}-roll-wrapper">
    {{#if @root.data.calc$.roll.evaluated}}
      <nac-roll-result 
        data-roll="{{nacToJsonString @root.data.calc$.roll}}"
        {{#nacMisPerm (nacConcat "NacReadDamageUuid:" @root.data.calc$.actorUuid)}}
        data-display-type="{{nacSetting 'damageHiddenRoll'}}"
        {{/nacMisPerm}}
        data-override-formula="{{@root.data.calc$.displayFormula}}">
      </nac-roll-result>
    {{else}}
      <div class="{{@root.moduleName}}-bonus-container">
        <button data-action="item-damage" class="{{@root.moduleName}}-item-damage" {{#nacMisPerm (nacConcat "OwnerUuid:" @root.data.calc$.actorUuid)}}disabled{{/nacMisPerm}}>
          {{#nacPerm (nacConcat "NacReadDamageUuid:" @root.data.calc$.actorUuid)}}
            {{#if (eq @root.data.mode 'critical')}}
              {{localize "DND5E.Critical"}}
            {{else}}
              {{localize @root.data.calc$.label}}
            {{/if}}
          {{else}}
            {{! Always show "damage" when you can't see the damage details }}
            {{localize "DND5E.Damage"}}
          {{/nacPerm}}
        </button>
        
        {{#if (and (eq @root.data.phase "bonus-input") (nacPerm (nacConcat "OwnerUuid:" @root.data.calc$.actorUuid)) )}}
          <input class="{{@root.moduleName}}-bonus" placeholder="{{localize "DND5E.Bonus"}}: {{localize 'DND5E.RollExample'}}" type="text" value="{{@root.data.userBonus}}" data-action="item-damage-bonus" {{#nacMisPerm (nacConcat "OwnerUuid:" @root.data.calc$.actorUuid)}}disabled{{/nacMisPerm}}/>
        {{/if}}
      </div>
    {{/if}}
    {{#nacPerm (nacConcat "OwnerUuid:" @root.data.calc$.actorUuid)}}
      <div class="overlay">
        <div class="left">
          <button data-action="mode-minus" class="{{@root.moduleName}}-mode-minus" {{#if (eq @root.data.mode 'normal')}}disabled{{/if}}><i class="fas fa-minus"></i></button>
        </div>
        <div class="middel"></div>
        <div class="right">
          {{#if @root.data.calc$.versatileBaseRoll}}
            <button data-action="item-damage-source-toggle" class="damage-source-toggle source-{{@root.data.source}}">
              <i class="fas fa-hand-holding hand-1" data-fa-transform="rotate-90"></i>
              <i class="fas fa-hand-holding hand-2" data-fa-transform="rotate-90"></i>
            </button>
          {{/if}}
          <button data-action="mode-plus" class="{{@root.moduleName}}-mode-plus" {{#if (eq @root.data.mode 'critical')}}disabled{{/if}}><i class="fas fa-plus"></i></button>
        </div>
      </div>
    {{/nacPerm}}
  </div>
</div>