{{#if (and data.consumeResources.length (nacPerm (nacConcat "ActorObserverUuid:" @data.calc$.actorUuid)))}}
  <table class="{{@root.staticValues.moduleName}}-consume-resouces">
    <thead>
      <tr>
        <th>{{ localize "Resources" }}</th>
        <th>{{ localize "DND5E.Uses" }}</th>
        <th style="width: 50px;" {{#if data.calc$.allConsumeResourcesApplied}}class="{{@root.moduleName}}-applied"{{/if}}>
          {{#nacExpr data.consumeResources.length '>' 1}}
            <div style="display: flex;" title="All">
              <button data-action="manual-apply" data-resource-index="*" class="{{@root.moduleName}}-apply"><i class="fas fa-check"></i></button>
              <button data-action="undo" data-resource-index="*" class="{{@root.moduleName}}-undo"><i class="fas fa-undo"></i></button>
            </div>
          {{/nacExpr}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each data.consumeResources as |consumeResource consumeResourceIndex|}}
        <tr {{#nacExpr consumeResource.calc$.calcChange '===' consumeResource.calc$.appliedChange}}class="{{@root.moduleName}}-applied"{{/nacExpr}}>
          <td>{{nacTranslateUsage consumeResource}}</td>
          <td>-{{consumeResource.calc$.calcChange}}</td>
          <td>
            <button data-action="manual-apply" data-resource-index="{{consumeResourceIndex}}" class="{{@root.moduleName}}-apply"><i class="fas fa-check"></i></button>
            <button data-action="undo" data-resource-index="{{consumeResourceIndex}}" class="{{@root.moduleName}}-undo"><i class="fas fa-undo"></i></button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}