<table class="{{moduleName}}-target-part">
  <thead>
    <tr>
      <th style="width: 24px;">{{! name/img }}</th>
      {{#each data.tableHeader}}
        <th>{{this}}</th>
      {{/each}}
      <th style="width: 50px;">
        {{#nacExpr data.tableBody.length '>' 1}}
          <button data-{{@root.moduleName}}-action="apply-*" class="{{@root.moduleName}}-apply"><i class="fas fa-check"></i></button>
          <button data-{{@root.moduleName}}-action="undo-*" class="{{@root.moduleName}}-undo"><i class="fas fa-undo"></i></button>
        {{/nacExpr}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each data.tableBody as |target|}}
    {{#nacPerm (nacConcat "ActorOwnerUuid:" target.actorUuid)}}
      <tr>
        <td {{#nacPerm (nacConcat "ActorObserverUuid:" target.actorUuid)}}title="{{target.name}}"{{/nacPerm}}>{{#if target.img}}<img src="{{target.img}}" height="20px" width="20px">{{/if}}</td>
        {{#each target.row}}
          <td>{{this}}</td>
        {{/each}}
        <td>
          <button data-{{@root.moduleName}}-action="apply-{{target.tokenUuid}}" class="{{@root.moduleName}}-apply"><i class="fas fa-check"></i></button>
          <button data-{{@root.moduleName}}-action="undo-{{target.tokenUuid}}" class="{{@root.moduleName}}-undo"><i class="fas fa-undo"></i></button>
        </td>
      </tr>
    {{/nacPerm}}
    {{/each}}
  </tbody>
</table>