{{#if data.tableBody.length}}
<div class="table target-table" style="grid-template-columns: max-content 25px {{#if data.tableHeader.row.length}}repeat({{data.tableHeader.row.length}}, min-content){{/if}} auto max-content;">
  {{!header}}
  <div class="header-cell">{{! copy/delete }}</div>
  <div class="header-cell target-amount-summary">{{data.tableHeader.currentTargets}}{{#if data.tableHeader.expectedTargets}}/{{data.tableHeader.expectedTargets}}{{/if}}</div>
  {{#each data.tableHeader.row}}
    <div class="header-cell">{{{this}}}</div>
  {{/each}}
  <div class="header-cell">{{! filler }}</div>
  <div class="header-cell one-line">
    {{#nacExpr data.tableBody.length '>' 1}}
      <button data-action="smart-apply" data-target-uuid="*" data-state="{{data.tableHeader.smartState}}" class="icon-button apply"><i class="fas fa-brain"></i></button>
      <button data-action="force-apply" data-target-uuid="*" data-state="{{data.tableHeader.state}}" class="icon-button apply"><i class="fas fa-check"></i></button>
      <button data-action="undo" data-target-uuid="*" data-state="{{data.tableHeader.state}}" class="icon-button undo"><i class="fas fa-undo"></i></button>
    {{/nacExpr}}
  </div>
  {{!body}}
  {{#each data.tableBody as |target targetIndex|}}
    {{#if target.isPlaceholder}}
      <div class="body-cell">{{! copy/delete }}</div>
      <div class="body-cell placeholder">
        <i class="placeholder-image fas fa-bullseye"></i>
      </div>
      {{#each @root.data.tableHeader.row}}
        <div class="body-cell placeholder">{{! dummy data rows }}</div>
      {{/each}}
      <div class="body-cell placeholder">{{! filler }}</div>
      <div class="body-cell placeholder">{{! apply buttons }}</div>
    {{else}}
      <div class="body-cell">
        <button {{#if (or (nacMisPerm (nacConcat 'OwnerUuid:' @root.actorUuid)) (and (or (nacExpr target.state '===' 'partial-applied') (nacExpr target.state '===' 'applied')) (nacMisPerm (nacConcat 'OwnerUuid:' target.actorUuid))))}}disabled{{/if}} data-action="delete" data-delete-uuid="{{target.selectionId}}" class="icon-button delete"><i class="fas fa-trash"></i></button>
        <button {{#if (nacMisPerm (nacConcat 'OwnerUuid:' @root.actorUuid))}}disabled{{/if}} data-action="copy" data-copy-uuid="{{target.tokenUuid}}" class="icon-button copy"><i class="far fa-copy"></i></button>
      </div>
      <div class="body-cell" {{#if (or target.nameVisibleAnyone (nacPerm (nacConcat "ObserverUuid:" target.actorUuid)) )}}title="{{target.name}}"{{/if}}>{{#if target.img}}<img src="{{target.img}}" height="20px" width="20px">{{/if}}</div>
      {{#each target.row}}
        <div class="body-cell">{{{this}}}</div>
      {{/each}}
      <div class="body-cell">{{! filler }}</div>
      <div class="body-cell one-line">
        {{#nacPerm (nacConcat "UpdateUuid:" target.actorUuid)}}
          <button data-action="smart-apply" data-target-uuid="{{target.selectionId}}" data-state="{{target.smartState}}" class="icon-button apply"><i class="fas fa-brain"></i></button>
          <button data-action="force-apply" data-target-uuid="{{target.selectionId}}" data-state="{{target.state}}" class="icon-button apply"><i class="fas fa-check"></i></button>
          <button data-action="undo" data-target-uuid="{{target.selectionId}}" data-state="{{target.state}}" class="icon-button undo"><i class="fas fa-undo"></i></button>
        {{/nacPerm}}
      </div>
    {{/if}}
  {{/each}}
</div>
{{/if}}